body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Roboto, 'Times New Roman'
}

.banner-container {
    position: relative;
    width: 100%;
    height: 500px;
}

.banner {
    width: 100%;
    height: 500px;
    filter: grayscale(1);
    opacity: 0.7;
    border-bottom: solid;
    border-color: rgb(173, 171, 171);
}

.bio-container {
    position: absolute;
    top: 40%;
    bottom: 40%;
    right: 40%;
    left: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.pfp {
    height: 100px;
    border-radius: 60px;
    border: solid;
    border-width: 8px;
    border-color: rgb(188, 189, 190, 0.65);
}



.name-text {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
}

.college {
    text-align: center;
    margin-top: 6px;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: medium;
}

.email {
    text-align: center;
    font-size: 18px;
    margin-top: 2px;
}


.bar-container {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: solid;
    justify-content: center;
    align-items: center;
}


.linkedin-image {
    height: 50px;
    cursor: pointer;
}

.github-image {
    height: 50px;
    border: none;
    cursor: pointer;
}

.linkedin-button { 
    border: none;
    background-color: white;
}
.github-button {
    border: none;
    background-color: white;
}

.about-tab {
    cursor: pointer;
    border: none;
    background-color: white;
}

.experience-tab {
    cursor: pointer;
    border: none;
    background-color: white;
}

.projects-tab {
    cursor: pointer;
    border: none;
    background-color: white;
}

